h1, p
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.picture
{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.box
{
    background-color: lightblue;
    margin-right: 150px;
    margin-left: 150px;
    padding: 15px;
    border-radius: 40px;
}